<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="BookRepository"
          class="com.iainhemstock.lendlibrary.infrastructure.persistence.memory.BookRepositoryMemory" />

    <bean id="BookFactory"
          class="com.iainhemstock.lendlibrary.domain.model.book.BookFactory" />

    <bean id="BookDTOAssembler"
          class="com.iainhemstock.lendlibrary.application.cataloging.impls.assembler.BookDTOAssembler" />

    <bean id="CatalogingServiceAdapter"
          class="com.iainhemstock.lendlibrary.application.cataloging.impls.CatalogingServiceImpl">
        <constructor-arg ref="BookRepository" />
        <constructor-arg ref="BookFactory" />
        <constructor-arg ref="BookDTOAssembler" />
    </bean>

    <bean id="MemberRepository"
          class="com.iainhemstock.lendlibrary.infrastructure.persistence.memory.MemberRepositoryMemory" />

    <bean id="MemberFactory"
          class="com.iainhemstock.lendlibrary.domain.model.member.MemberFactory" />

    <bean id="MemberDTOAssembler"
          class="com.iainhemstock.lendlibrary.application.registering.impls.assembler.MemberDTOAssembler" />

    <bean id="RegistrationServiceAdapter"
          class="com.iainhemstock.lendlibrary.application.registering.impls.RegisteringServiceImpl">
        <constructor-arg ref="MemberRepository" />
        <constructor-arg ref="MemberFactory" />
        <constructor-arg ref="MemberDTOAssembler" />
    </bean>

</beans>