<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="CatalogueRepository" class="com.iainhemstock.lendlibrary.infrastructure.persistence.CatalogueRepositoryMemory" />

    <bean id="CatalogueService" class="com.iainhemstock.lendlibrary.application.impls.DefaultCatalogueService">
        <constructor-arg ref="CatalogueRepository" />
    </bean>

    <bean id="AccountRepository" class="com.iainhemstock.lendlibrary.infrastructure.persistence.AccountRepositoryMemory" />

    <bean id="AccountService" class="com.iainhemstock.lendlibrary.application.impls.DefaultAccountService">
        <constructor-arg ref="AccountRepository" />
    </bean>

    <bean id="AccountFactory" class="com.iainhemstock.lendlibrary.domain.model.accounts.AccountFactory" />

    <bean id="ExistingAccountDTOAssembler" class="com.iainhemstock.lendlibrary.application.impls.assembler.AccountDTOAssembler" />

    <bean id="AccountServiceAdapter" class="com.iainhemstock.lendlibrary.application.impls.DefaultAccountServiceAdapter">
        <constructor-arg ref="AccountRepository" />
        <constructor-arg ref="AccountFactory" />
        <constructor-arg ref="ExistingAccountDTOAssembler" />
    </bean>

</beans>