<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="BookInMemoryRepository" class="com.iainhemstock.lendlibrary.infrastructure.persistence.BookInMemoryRepository" />

    <bean id="SimpleCatalogueService" class="com.iainhemstock.lendlibrary.application.SimpleCatalogueService">
        <constructor-arg ref="BookInMemoryRepository" />
    </bean>

    <bean id="AccountInMemoryRepository" class="com.iainhemstock.lendlibrary.infrastructure.persistence.AccountInMemoryRepository" />

    <bean id="SimpleAccountService" class="com.iainhemstock.lendlibrary.application.SimpleAccountService">
        <constructor-arg ref="AccountInMemoryRepository" />
    </bean>

</beans>